@import url('https://fonts.cdnfonts.com/css/sf-ui-display');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

*{
  font-family: 'SF UI Display', sans-serif;                                            
}

@layer utilities {
  .text-gradient {
    @apply  inline-block text-transparent bg-clip-text;
    background-image: linear-gradient(to bottom, #86efac, #16a34a); /* green-300 to green-700 */
  }
}

.leaflet-container {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}



